.body {
    margin: 0px;
    height: 1080px;
    width: 1920px;
}

.nav {
    clear: both;
    z-index: 1;
    max-width: 1830px;
}

.nav__container {
    margin: 0px 344px 0px 360px;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo__image {
    width: 100%;
    max-width: 78px;
    height: auto;
    position: absolute;
    top: 54px;
}

.navbar {
    display: inline-block;
    max-width: 504px;
    max-height: 21px;
    position: relative;
    top: 67px;
}


.nav__list {
    display: flex;
    max-width: 504px;
    max-height: 21px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav__link:hover::after,
.nav__link--home:hover::after {
    content: " ";
    position: absolute;
    top: 31.75px;
    left: 31px;
    background-color: white;
    border: 2px;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin-left: 10px;
}

.nav__link--dropdown:hover::after
{
    content: " ";
    position: absolute;
    top: 31.75px;
    left: 40px;
    background-color: white;
    border: 2px;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    padding: 0px;
    margin: 0px;
}

.nav__item {
    position: relative;
    display: inline;
}

.nav__link,
.nav__link--home,
.nav__link--dropdown {
    font-family: "CircularStd-Book";
    font-size: 18px;
    letter-spacing: 0.92px;
    line-height: 1.3;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    padding: 16px;
}

.nav__link--home {
    font-family: "CircularStd-Bold";
}


.dropdown {
    position: absolute;
    max-width: 161px;
    max-height: 186px;
    background-color: #272626;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 60px;
    top: 50.75px;
}

.dropdown::before{
    content: " ";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 11px solid #2C2B2C;
    position:absolute;
    top: -11px;
    left: 40px;
}

.dropdown__list {
    list-style: none;
    display: inline-block;
    padding: 25px 68px 26px 29px;
    margin: 0px;
}


.dropdown__link {
    font-family: "CircularStd-Medium";
    text-decoration: none;
    line-height: 1.3;
    font-size: 18px;
    letter-spacing: 0.92px;
    color: white;
}

.dropdown__link:hover{
    color: #55BBA6;
}

.dropdown__item::after{
    content: " ";
    display: flex;
    width: 20px;
    height: 1px;
    background: white;
    opacity: 0.15;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown__item:last-child::after {
    content: " ";
    background-color: #272626;
}

.nav__link--dropdown {
    font-family: "CircularStd-Book";
    font-size: 18px;
    letter-spacing: 0.92px;
    line-height: 1.3;
    color: white;
    text-decoration: none;
}

.nav__link--dropdown::after {
    content: " ";
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 17px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nav__link--dropdown::hover {
    cursor: pointer;
}

.hero {
    background-image: radial-gradient(58.3% 58.3% at 75.33% 44.51%, rgba(0, 0, 0, 0.0001) 0%, rgba(5, 4, 2, 0.6) 100%), url(hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: -21px;
    position: relative;
    padding-bottom: 297px;
    left: 90px;
    margin: 0px;
}

.hero__heading {
    font-family: "CircularStd-Black";
    font-size: 16px;
    letter-spacing: 2.42px;
    color: white;
    text-transform: uppercase;
    max-width: 335px;
    max-height: 20px;
    margin-bottom: 0px;
}

.hero__heading::before {
    content: " ";
    width: 27px;
    height: 4px;
    background-color: #55BBA6;
    display: block;
    margin-bottom: 15px;
}


.hero__title {
    font-family: "DMSerifDisplay-Regular";
    color: white;
    font-size: 130px;
    letter-spacing: 19.64px;
    text-transform: uppercase;
    max-width: 584px;
    max-height: 178px;
    margin: 0px;
    line-height: 1.4;
}





.hero__content {
    font-family: "SofiaPro-Medium";
    color: white;
    font-size: 18px;
    letter-spacing: 1.72px;
    padding-right: 180px;
}

.hero__undernote {
    font-family: "SofiaPro-Regular";
    color: white;
    font-size: 12px;
    letter-spacing: 0.7px;
    max-width: 447px;
    max-height: 31px;
    margin-top: 29px;
    margin-bottom: 70px;
}

.hero__CTA {
    display: flex;
}

.hero__button {
    background: #55BBA6;
    font-family: "SofiaPro-Medium";
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 1.33;
    color: white;
    border: 2px;
    padding: 22px 63.98px 2px 63px;
    max-width: 250px;
    max-height: 60px;
    text-decoration: none;
    display: block;
    margin-right: 21px;
    border-radius: 2px;
}

.hero__button:hover {
    background: #399280;
}

.hero__button--transparent {
    background: rgba(255, 255, 255, 0.2);
    font-family: "SofiaPro-Medium";
    font-size: 18px;
    letter-spacing: 0.7px;
    border: 2px solid;
    padding: 22px 79px 14px 80px;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 2px;
}

.hero__button--transparent:hover {
    background: white;
    color: #272626;
    border-color: white;
}

.hero__inner {
    padding-top: 309px;
    padding-left: 280px;
    max-width: 584px;
    max-height: 474px;
    white-space: normal;
}

.aside__contact {
    transform: rotate(-90deg) translate(-45.9%, -657%);
    background-color: white;
    position: absolute;
    min-width: 1080px;
    max-height: 90px;
}

.aside__content {
    padding: 36px 197px 31px 175px;
    height: 22px;
    width: 707px;
    margin: 0px;
}

.aside__item {
    font-family: "SofiaPro-Medium";
    font-size: 16px;
    letter-spacing: 2.41778px;
    line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
}

.aside__item::before {
    content: " ";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #55BBA6;
    margin: 0px 24px;
    display: inline-block;
}

.aside__item:first-child::before {
    content: " ";
    background-color: white;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.container {
    z-index: -1;
}

.about__container {
    display: inline-block;
    position: relative;
    left: 360px;
    margin-bottom: 97px;
}

.about__mission {
    margin-bottom: 93px;
}

.about__title {
    font-family: 'DMSerifDisplay-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 5.44px;
    color: #55BBA6;
}

.about__content {
    display: inline-flex;
    font-family: "SofiaPro-Regular";
    font-size: 18px;
    color: #484848;
    max-width: 241px;
    max-height: 120px;
    margin-right: 116px;
}

.about__card {
    width: 487px;
    height: 601px;
    margin: 0px;
    position: relative;
    background-image: radial-gradient(64.5% 64.5% at 96.09% -12.84%, rgba(0, 0, 0, 0.0001) 0%, rgba(5, 4, 2, 0.6) 100%), url(about-main.jpg);
    background-position: center;
    background-size: cover;
}

.card__content {
    position: absolute;
}

.card__content::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.card__title {

    font-family: "DMSerifDisplay-Regular";
    font-size: 28px;
    letter-spacing: 3.76px;
    color: white;
    margin-top: 129px;
    margin-left: 80px;
}

.card__title::before {
    content: " ";
    width: 27px;
    height: 4px;
    background-color: #55BBA6;
    display: block;
}

.card__info {
    font-family: "SofiaPro-Regular";
    font-size: 18px;
    letter-spacing: 1.02px;
    color: white;
    display: inline-flex;
    max-width: 275px;
    max-height: 120px;
    margin-left: 80px;
    margin-top: 0px;
}

.card__info::first-line {
    font-family: "DMSerifDisplay-Regular";
    color: black;

}

.hero__button--card {
    background: #55BBA6;
    font-family: "SofiaPro-Medium";
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 1.3;
    color: white;
    border: 2px;
    padding: 22px 64px 14px 64px;
    max-width: 250px;
    max-height: 60px;
    text-decoration: none;
    display: block;
    margin-left: 80px;
    margin-top: 40px;
    position: absolute;
}

.hero__button--card:hover{
    background:#399280;
}

.card__image {
    width: 487px;
    height: 601px;
}

.about__table {
    width: 1000px;
    height: 500px;
}

.photo__sheep {
    width: 100%;
    height: auto;
    margin-top: -20%;
}

.flex__sheep {
    max-width: 709px;
    height: 384px;
    overflow: hidden;
}

.lake__container {
    width: 354px;
    height: 212px;
    overflow: hidden;
}


.photo__lake {
width: 100%;
height: auto;
transform: rotate(80deg) translate(-20%, -5%);
}


.cliff__container {
    width: 350px;
    height: 212px;
    overflow: hidden;
    margin-left: 5px;
}


.photo__cliff {
    background-image: url(about-cliff.jpg);
    position: relative;
    background-size: cover;
    background-position: 0% 105%;
    height: 212px;
    transform: scale(2.5);
}

.about__flex {
    display: flex;
}

.flex__big {
    display: flex;
    flex-wrap: wrap;
    max-width: 709px;
    margin-left: 1%;
}

.flex__small {
    display: flex;
    max-width: 709px;
}
